.fundoLogin {
    background-image: url(https://ik.imagekit.io/eijess/Blog%20Pessoal/andras-vas-Bd7gNnWJBkU-unsplash.jpg?updatedAt=1716265466335);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }